.menubar,
.mobilemenu {
  display: none;
}
body {
  color: #121c3e;
  line-height: 2rem;
}
/*responsive size for the images*/
img {
  max-width: 100%;
  height: auto;
}
.mason {
  padding-top: 3px;
}
.masonry {
  margin: 10px;
}
.masonry > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffeead;
  position: relative;
}
.masonry > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.masonry {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
  grid-auto-rows: 202px;
  grid-auto-flow: dense;
  position: relative;
}
.horizontal {
  grid-column: span 2;
}
.vertical {
  grid-row: span 2;
}
.big {
  grid-column: span 2;
  grid-row: span 2;
}
.overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0px;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.overlay .overlaycontent {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}
.overlay .overlaycontent h3 {
  margin: 0 20px 0 15px;
  text-align: center;
}
.overlay .overlaycontent p {
  margin: 0 20px 0 15px;
  text-align: center;
  font-weight: 300;
}
.overlay .title-position {
  position: relative;
  top: 30px;
  left: 30px;
}
.overlay .location {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.home .overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0px;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.home .overlay .block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0px;
  left: 0;
  bottom: 0;
}
.home .overlay .overlaycontent {
  color: #fff;
  position: relative;
  top: 0%;
  transform: translateY(0%);
  width: 90%;
}
.home .overlay .overlaycontent h3 {
  margin: 0 15px 20px 15px;
  text-align: center;
}
.home .overlay .overlaycontent p {
  margin: 0 20px 0 15px;
  text-align: center;
  font-weight: 300;
}
.home .overlay .title-position {
  position: relative;
  top: 30px;
  left: 30px;
}
.home .overlay .location {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.home .big .overlay .overlaycontent,
.home .horizontal .overlay .overlaycontent {
  width: 70%;
}
.page-template-page-people .overlay {
  background-color: rgba(0, 0, 0, 0.65);
}
.masonry-brick {
  color: #2f3640;
  background-color: #f5f6fa;
}
.masonry-title,
.masonry-description {
  margin: 0;
}
.masonry-title {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 1rem 1rem;
}
.masonry-description {
  padding: 1.5rem;
  font-size: .75rem;
  border-top: 1px solid #eee;
  color: #666;
}
.containerwide {
  max-width: 100%;
}
body.home section.top {
  background: rgba(0, 0, 0, 0.7);
  min-height: 65px;
  top: 0;
  width: 100%;
  right: 0;
  position: absolute;
  z-index: 1;
}
body.home section.top header {
  display: flex;
}
body.home section.top .logo {
  position: relative;
  left: 55px;
  padding-top: 10px;
}
body.home section.top .logo img {
  width: 120px;
  height: 44px;
}
body.home section.top nav {
  margin-left: auto;
  width: 50%;
}
body.home section.top nav ul {
  margin-right: 55px;
  display: flex;
  padding-top: 20px;
  align-items: left;
  list-style: none;
  margin-bottom: 0;
}
body.home section.top nav ul li {
  flex: 1;
  position: relative;
  justify-content: left;
  padding-bottom: 5px;
  align-seft: left;
  font-weight: 300;
  letter-spacing: 1px;
}
body.home section.top nav ul li a {
  color: #fff;
  justify-content: left;
  align-items: left;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}
body.home section.top nav ul li a:hover:after,
body.home section.top nav ul li.current-menu-item a:after {
  content: " ";
  position: absolute;
  border-bottom: 1px solid #fff;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
}
section.top {
  background: #f7f6f4;
  min-height: 65px;
  top: 0;
  width: 100%;
  right: 0;
  position: relative;
  z-index: 1;
}
section.top header {
  display: flex;
}
section.top .logo {
  position: relative;
  left: 55px;
  padding-top: 10px;
}
section.top .logo img {
  width: 120px;
  height: 44px;
}
section.top nav {
  margin-left: auto;
  width: 50%;
}
section.top nav ul {
  margin-right: 55px;
  display: flex;
  padding-top: 20px;
  align-items: left;
  list-style: none;
  margin-bottom: 0;
}
section.top nav ul li {
  flex: 1;
  position: relative;
  justify-content: left;
  padding-bottom: 5px;
  align-seft: left;
  letter-spacing: 1px;
}
section.top nav ul li a {
  color: #000000;
  justify-content: left;
  align-items: left;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}
section.top nav ul li a:hover:after,
section.top nav ul li.current-menu-item a:after {
  content: " ";
  position: absolute;
  border-bottom: 1px solid #000000;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
}
section.carousel .slide {
  position: relative;
}
section.carousel .slidercontent {
  height: 80vh;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  text-align: center;
  color: #fff;
  width: 90%;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
}
section.carousel .slidercontent h2 {
  font-weight: 300;
  color: #fff;
}
section.carousel .slidercontent h2 span {
  font-weight: normal;
  text-transform: none;
  font-style: italic;
}
section.carousel .slidercontent p {
  padding-top: 0px;
  width: 80%;
  margin: auto;
  font-weight: 300;
}
section.carousel .slidercontent p.play {
  padding-top: 40px;
  text-align: center;
}
section.carousel .slidercontent p.play img {
  display: block;
  margin: auto;
}
section.carousel .slidercontent .video {
  display: none;
}
.slick-dots {
  bottom: 55px !important;
  color: #fff !important;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #fff !important;
}
.slick-dots li button:before {
  font-size: 40px;
}
.slick-dotted.slick-slider {
  margin-bottom: -8px;
}
.slick-dots li button {
  color: #fff;
}
.slick-dots li button:before {
  color: #fff !important;
}
footer {
  background: #2b2b2b;
  margin-top: 10px;
  /*min-height: 279px;*/
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul li {
  padding: 0 20px;
}
.copyright {
  text-align: center;
  padding: 20px 0 20px 0;
}
.copyright a {
  color: #FC8019;
}
.main .title {
  margin-top: 100px;
  margin-bottom: 100px;
}
.main .title h1 {
  font-size: 49px;
  font-weight: 300;
  text-align: center;
}
.main .content {
  text-align: center;
}
.main .content h2 {
  font-size: 36px;
  font-weight: normal;
  margin-top: 60px;
  font-weight: 400;
}
.main .people {
  margin-top: 150px;
  margin-bottom: 200px;
}
.main .people h3 {
  font-size: 36px;
  margin: 50px 0 0 0;
}
.main .people .aboutimage {
  max-height: 260px;
  max-width: 260px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.main .people .aboutimage img {
  display: block;
}
.filterblock {
  text-align: center;
}
.filterNavContent {
  display: inline-block;
  list-style: none;
  margin-bottom: 100px;
}
.filterNavContent li {
  float: left;
  text-transform: uppercase;
}
.filterNavContent li a {
  color: #000000;
  padding: 5px 30px;
  margin-right: 20px;
  display: block;
}
.filterNavContent li a.active {
  color: #000000;
  padding: 5px 30px;
  margin-right: 20px;
  display: block;
  background: #e5e5e5;
}
.page-template-page-work div.main,
.page-template-page-clients div.main {
  margin-bottom: 100px;
}
.filtercontents {
  text-align: left;
}
.filtercontents .row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.filtercontents h2 {
  font-size: 40px;
  font-weight: 400;
}
.filtercontents h3 {
  font-size: 36px;
  margin-bottom: 0;
  letter-spacing: 0;
}
.filtercontents span.closed {
  background: url(../images/icon-download.png);
  background-repeat: no-repeat;
  width: 47px;
  height: 47px;
  display: block;
  cursor: pointer;
  border: 0;
  float: right;
}
.filtercontents span.open {
  background: url(../images/download-up.png);
  background-repeat: no-repeat;
  width: 47px;
  height: 47px;
  display: block;
  cursor: pointer;
  border: 0;
  float: right;
}
.opencontent {
  background: #f7f6f4;
  display: none;
  min-height: 360px;
  position: relative;
}
.opencontent .container {
  position: relative;
}
.opencontent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.opencontent .imageplaceholder {
  position: relative;
}
.opencontent .imageplaceholder img {
  display: none;
  max-height: 360px;
  min-height: 360px;
}
.opencontent .contentwoimage {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}
.opencontent .contentwoimage .overlaycontent {
  position: relative;
  color: #000;
  overflow: hidden;
  display: flex;
  align-items: center;
  min-height: 360px;
}
.opencontent .contentwoimage .overlaycontent a {
  color: #000000;
}
.opencontent .contentwoimage .overlaycontent .container--lg {
  width: 100%;
}
.opencontent .contentwoimage .overlaycontent p {
  font-size: 1.6em;
}
.opencontent .contentwoimage.highlight .overlaycontent a {
  color: #fff;
  display: inline-block;
  padding-right: 50px;
}
.opencontent .contentwoimage.highlight .overlaycontent a:hover {
  color: #dabf8a;
  background: url(../images/anchor-arrow.png);
  background-repeat: no-repeat;
  background-position: right;
}
.opencontent.wimage .overlay .overlaycontent {
  color: #fff;
}
.managment-profile,
.client-logo {
  margin: auto;
  width: 23.5%;
}
.managment-profile img,
.client-logo img {
  display: block;
  margin: auto;
}
.managementdetails {
  max-width: 960px;
  margin: auto;
}
.client-work-details h2 {
  font-size: 50px;
  font-weight: 300;
}
.client-work-details p.byline {
  font-size: 30px;
  line-height: 34px;
}
.client-work-details p {
  margin-right: 10%;
  margin-left: 10%;
}
.video {
  margin-bottom: 20px;
}
.client-work-images {
  margin: 0 20px;
}
.client-work-images .col {
  margin-bottom: 20px;
  margin-left: 1%;
}
.client-work-images .alpha {
  margin-left: 0;
}
.client-work-images .col--6 {
  width: 49.5%;
}
.client-work-images .col--6 img {
  display: block;
  margin: auto;
  width: 100%;
}
.people-group {
  margin: 0 20px;
}
.people-group .col {
  margin-bottom: 10px;
  margin-left: 0%;
}
.people-group .alpha {
  margin-left: 0;
}
.people-group .person {
  width: 20%;
}
.otherworks {
  margin-top: 90px;
}
.otherworks h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
}
.otherworks .otherworks-content {
  background: url(../images/otherworks-bg.html);
  background-size: cover;
  background-position: center;
  min-height: 651px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.otherworks .otherworks-content h2 {
  color: #fff;
  text-align: center;
  font-size: 33px;
}
.otherworks .otherworks-content p {
  text-align: center;
  font-size: 33px;
}
.otherworks .otherworks-content p a {
  color: #dabf8a;
  display: inline-block;
  background: url(../images/anchor-arrow.png);
  background-repeat: no-repeat;
  padding-right: 50px;
  background-position: right;
}
.peopleimage {
  position: relative;
  margin-right: 10px;
  height: 512px;
}
.peopleimage img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-position: center;
  object-fit: cover;
}
.peopleimage .title-position h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 0px;
  letter-spacing: 0;
}
.peopleimage .title-position h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0;
}
.clients {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 60px;
}
.clients ul {
  list-style: none;
}
.clients ul li {
  float: left;
  width: 20%;
  min-height: 120px;
}
.clients ul li img {
  display: block;
  margin: auto;
}
.content p {
  margin-left: 5%;
  margin-right: 5%;
  line-height: 3rem;
}
.contact {
  text-align: left;
  margin-top: 100px;
}
.contact .alpha {
  margin-left: 0;
  clear: both;
}
.contact .logo {
  float: left;
  width: 18%;
  margin-right: 6%;
}
.contact .address {
  float: none;
  width: 74%;
  margin: auto;
}
.contact .address h3 {
  font-size: 30px;
  font-weight: 300;
}
.contact .address p {
  margin: 0 0 20px 0;
}
.contact .col {
  margin-bottom: 60px;
}
.contact .viewmap {
  padding-top: 40px;
  color: #b76b27;
}
.contact .viewmap a {
  color: #b76b27;
}
.main .content .bloglisting {
  margin-top: 130px;
  text-align: left;
}
.main .content .bloglisting article {
  padding: 40px;
  border: 1px solid #bfbfbf;
  clear: both;
  margin-bottom: 60px;
}
.main .content .bloglisting article h3 {
  font-size: 45px;
  font-weight: 400;
  margin-right: 20%;
}
.main .content .bloglisting .articleimage img {
  width: 100%;
}
.main .content .bloglisting p {
  margin-left: 0;
  margin-right: 0;
}
.main .content .bloglisting .metacontainer {
  margin-top: 23px;
  overflow: hidden;
}
.main .content .bloglisting .metacontainer .radarslogo {
  float: left;
  width: 84px;
}
.main .content .bloglisting .metacontainer .radarstype {
  font-size: 14px;
}
.main .content .bloglisting .metacontainer .radarstype span {
  display: block;
}
.main .content .bloglisting .metacontainer .radarstype span.type {
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-top: 10px;
}
.main .content .bloglisting .metacontainer .radarstype span.date {
  position: relative;
  top: -5px;
}
.main .content .bloglisting .story {
  clear: both;
  padding-top: 20px;
  margin-left: 0px;
  width: 100%;
}
.main .content .bloglisting .story a {
  color: #b76b27;
}
.page-template-page-work .main .title {
  margin-top: 100px;
  margin-bottom: 40px;
}
.fluid-width-video-wrapper {
  margin-bottom: 20px;
}
/* [1] The container */
.img-hover-zoom {
  overflow: hidden;
  /* [1.2] Hide the overflowing of child elements */
  will-change: transform;
}
/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}
.filterwrap {
  text-align: center;
  width: 830px;
  margin: auto;
  padding-bottom: 40px;
}
.filterwrap .refinebyclients,
.filterwrap .refinebymedia {
  float: left;
  margin-right: 20px;
}
.filterwrap .refinebyclients h3,
.filterwrap .refinebymedia h3 {
  float: left;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 5px;
  letter-spacing: 0;
}
.filterwrap .refinebyclients select,
.filterwrap .refinebymedia select {
  font-size: 18px;
  margin-bottom: 100px;
}
.filterDiv {
  float: left;
  margin: 0;
  display: none;
  position: relative;
}
.filterDiv .overlay .block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0px;
  left: 0;
  bottom: 0;
}
.filterDiv .overlay .overlaycontent {
  color: #fff;
  position: relative;
  top: 0%;
  transform: translateY(0%);
  width: 90%;
}
.filterDiv .overlay .overlaycontent a {
  color: #fff;
}
.show {
  display: block;
}
.filtercontainer {
  clear: both;
  margin-top: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 0px;
}
.grid-container .filterDiv .overlay .overlaycontent h3 {
  margin-bottom: 0px;
}
.grid-container .filterDiv .overlay .overlaycontent p {
  line-height: 40px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  text-align: center;
}
.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}
.btn:hover {
  background-color: #ddd;
}
.btn.active {
  background-color: #666;
  color: white;
}
/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
  will-change: transform;
}
section.banner img {
  width: 100%;
}
@media (min-width: 1400px) {
  .masonry {
    grid-auto-rows: 334px;
  }
  .containerwide {
    width: 100%;
  }
}
@media (min-width: 1600px) {
  section.carousel .slidercontent p {
    width: 60%;
    line-height: 2.4rem;
  }
}
@media (max-width: 1399px) {
  body.home section.top nav {
    margin-left: auto;
    width: 65%;
  }
}
@media (max-width: 1499px) {
  .people-group .person {
    width: 25%;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  body.home section.top nav,
  section.top nav {
    width: 70%;
  }
  .contact {
    text-align: left;
    margin-top: 60px;
  }
  .main .title {
    margin-bottom: 40px;
  }
  body.home section.top .logo,
  section.top .logo {
    position: relative;
    left: 30px;
    padding-top: 15px;
  }
  section.top nav ul {
    margin-bottom: 15px;
  }
  .main .people {
    margin-left: 5%;
    margin-right: 5%;
  }
  .main .people .aboutimage {
    max-height: 200px;
    max-width: 200px;
  }
  .main .people h3 {
    margin: 20px 0 0 0;
  }
  .peopleimage {
    height: 360px;
  }
  .people-group .person {
    width: 33.3%;
  }
  .people-group {
    margin: 0 10px 0 20px;
  }
}
@media (max-width: 767px) {
  body.home section.top .logo img,
  section.top .logo img {
    width: 90px;
    height: 33px;
  }
  body.home section.top .logo,
  section.top .logo {
    padding-top: 10px;
    padding-left: 5px;
  }
  .mobilemenuwrap {
    background: transparent;
    position: absolute;
    z-index: 10000;
    min-height: 120px;
    left: 0;
    right: 0;
  }
  .menubar {
    display: block;
    position: absolute;
    top: -2px;
    right: 0px;
    z-index: 1000;
  }
  .home .mobilemenu {
    margin-top: 70px;
    background: #000;
  }
  .mobilemenu {
    margin-top: 70px;
    background: #fff;
  }
  .hamburger-box {
    width: 40px !important;
    height: 34px !important;
  }
  .hamburger-inner {
    left: 10px;
  }
  .hamburger.is-active {
    background: transparent !important;
  }
  .home .hamburger-inner,
  .home .hamburger-inner:after {
    background-color: #fff;
  }
  .home .hamburger-inner,
  .home .hamburger-inner:after,
  .home .hamburger-inner:before {
    background: #fff;
  }
  .home .hamburger.is-active .hamburger-inner,
  .home .hamburger.is-active .hamburger-inner:after,
  .home .hamburger.is-active .hamburger-inner:before {
    background-color: #fff;
  }
  header nav {
    display: none;
  }
  .hamburger-inner,
  .hamburger-inner:after,
  .hamburger-inner:before {
    width: 30px;
    height: 2px;
  }
  .mobilemenu ul {
    list-style: none;
    margin-bottom: 0;
    padding: 20px 0 60px 20px;
  }
  .mobilemenu ul li {
    margin: 0 20px;
    padding: 4px 0;
  }
  .home .mobilemenu ul li a {
    color: #fff;
    text-decoration: none;
  }
  .mobilemenu ul li a {
    color: #000;
    text-decoration: none;
  }
  body.home section.top,
  section.top {
    min-height: 53px;
  }
  section.carousel .slidercontent p {
    width: 100%;
    font-size: 1.1em;
    line-height: 17px;
  }
  section.carousel .slidercontent p.play img {
    width: 40px;
    height: 40px;
  }
  section.top header {
    display: flex;
    flex-direction: column;
  }
  body.home section.top .logo,
  section.top .logo {
    left: 0px;
    width: 100px;
  }
  body.home section.top nav,
  section.top nav {
    margin-left: auto;
    width: 100%;
    display: none;
  }
  body.home section.top nav ul,
  section.top nav ul {
    margin-left: 20px;
    flex-direction: column;
  }
  .masonry {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-auto-rows: 202px;
    grid-auto-flow: dense;
    position: relative;
  }
  .filterNavContent li a,
  .filterNavContent li a.active {
    padding: 5px 15px;
    margin-right: 0px;
  }
  .filterNavContent {
    margin-bottom: 10px;
  }
  .filtercontents h3 {
    font-size: 20px;
    margin-left: 10px;
  }
  .opencontent .imageplaceholder img {
    display: none;
    max-height: 100%;
  }
  .opencontent .imageplaceholder img {
    display: none;
    max-height: 200px;
    min-height: 200px;
  }
  .opencontent .contentwoimage .overlaycontent {
    min-height: 200px;
  }
  .opencontent {
    position: relative;
    min-height: 200px;
  }
  .opencontent .imageplaceholder {
    position: relative;
    height: 200px;
  }
  .client-work-details p.byline {
    font-size: 24px;
    line-height: 30px;
  }
  .page-template-page-work div.main,
  .page-template-page-clients div.main {
    margin-bottom: 40px;
  }
  .main .people {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .main .people h3 {
    margin: 20px 0 0 0;
  }
  .main .people .col {
    margin-bottom: 20px;
  }
  .managment-profile,
  .client-logo {
    margin: auto;
    width: 100%;
  }
  .client-logo .client-image {
    display: inline-block;
  }
  .client-logo .client-image img {
    width: 80%;
  }
  .client-work-images .col--6 {
    width: 100%;
  }
  .client-work-images .col {
    margin-bottom: 10px;
    margin-left: 0%;
  }
  .managment-profile h3 {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .people-group .person {
    width: 100%;
  }
  .main .title,
  .page-template-page-work .main .title {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .filtercontents span.closed,
  .filtercontents span.open {
    width: 35px;
    height: 35px;
    background-size: 30px 30px;
  }
  .filtercontents .col--2 img {
    width: 85%;
    margin: auto;
    display: block;
  }
  .clients ul li {
    float: left;
    width: 30%;
    min-height: 80px;
  }
  .filtercontents .row .col:nth-child(3) {
    width: 10%;
  }
  .people-group .person {
    width: 50%;
  }
  .overlay .title-position {
    position: relative;
    top: 30px;
    left: 10px;
  }
  .peopleimage {
    position: relative;
    margin-right: 10px;
    height: 250px;
  }
  .peopleimage .title-position h3 {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
  }
  .peopleimage .title-position h4 {
    font-size: 14px;
    margin-right: 10px;
  }
  .people-group {
    margin: 0 0px 0 10px;
  }
  .overlay .location {
    left: 10px;
    font-size: 14px;
  }
  .main .content .bloglisting {
    margin-top: 0;
  }
  .main .content .bloglisting .metacontainer {
    margin-top: 13px;
    overflow: hidden;
  }
  .main .content .bloglisting article h3 {
    margin-right: 0;
    font-size: 22px;
  }
  .main .content .bloglisting .story {
    clear: both;
    padding-top: 10px;
    margin-left: 0px;
    width: 100%;
  }
  .main .content .bloglisting .metacontainer .radarslogo {
    float: left;
    width: 44px;
    margin-right: 10px;
  }
  .main .content .bloglisting article {
    clear: both;
    margin-bottom: 20px;
  }
  .main .content .bloglisting .metacontainer .radarstype span.type {
    margin-top: 5px;
  }
  .contact .address h3 {
    font-size: 24px;
    font-weight: 300;
  }
  .contact {
    margin-top: 40px;
  }
  .contact .viewmap {
    padding-top: 10px;
  }
  .contact .col {
    margin-bottom: 20px;
  }
  .copyright {
    padding: 10px 0;
  }
  footer {
    min-height: 140px;
  }
  footer ul {
    margin-bottom: 0;
  }
  footer .container {
    idth: 100%;
    padding: 0;
  }
  .page-template-page-work .container--lg {
    padding: 2rem 1rem;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0px;
  }
  .filterwrap {
    text-align: center;
    width: 100%;
    margin: auto;
    padding-bottom: 40px;
  }
  .filterwrap .refinebyclients,
  .filterwrap .refinebymedia {
    float: none;
    margin-left: 20px;
  }
  .filterwrap .refinebyclients h3,
  .filterwrap .refinebymedia h3 {
    float: none;
    display: block;
    text-align: center;
  }
  .filterwrap .refinebyclients select,
  .filterwrap .refinebymedia select {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
@media (min-width: 550px) {
  .container {
    width: 100%;
  }
}

/*# sourceMappingURL=layout.css.map */