.dropdiv {
width: 100%;
padding: 20px 0;
/*height: 300px;*/
/*display: flex;*/
/*position: relative;*/
background: #262626;
text-align: center;
/*align-items: center;
justify-content: center;*/
}
.testdrop.btn-flip {
opacity: 1;
outline: 0;
color: #fff;
line-height: 40px;
position: relative;
text-align: center;
letter-spacing: 1px;
display: inline-block;
text-decoration: none;
font-family: 'Open Sans';
margin: 5px;
min-width: 150px;
}
.testdrop.btn-flip:hover:after {
opacity: 1;
transform: translateY(0) rotateX(0);
}
.testdrop.btn-flip:hover:before {
opacity: 0;
transform: translateY(50%) rotateX(90deg);
}
.testdrop.btn-flip:after {
top: 0;
left: 0;
opacity: 0;
width: 100%;
color: #ffffff;
display: block;
transition: 0.5s;
position: absolute;
background: #f18700;
/*content: attr(data-back);*/
font-family: FontAwesome;
font-size: 20px;
transform: translateY(-50%) rotateX(90deg);
}
.testdrop.btn-flip:before {
top: 0;
left: 0;
opacity: 1;
color: #ffffff;
display: block;
padding: 0 30px;
line-height: 40px;
transition: 0.5s;
position: relative;
background: #323237;
content: attr(data-front);
transform: translateY(0) rotateX(0);
}

.testdrop.btn-flip.btn-num-fb:after{
	content: "\f09a";
	background-color: #3b5998;
}
.testdrop.btn-flip.btn-num-yt:after{
	content: "\f16a";
	background-color: #c4302b;
}
.testdrop.btn-flip.btn-num-in:after{
	content: "\f16d";
	background-color: #dd2a7b;
}
.testdrop.btn-flip.btn-num-tw:after{
	content: "\f099";
	background-color: #00acee;
}
.testdrop.btn-flip.btn-num-ln:after{
	content: "\f0e1";
	background-color: #0e76a8;
}
.testdrop.btn-flip.btn-num-wt:after{
	content: "\f232";
	background-color: #075e54;
}
.testdrop.btn-flip.btn-num-tg:after{
	content: "\f2c6";
	background-color: #0088cc;
}



/*Team*/
.our-team-main {
	width:100%;
	height:auto;
	border: 2px #01447d solid;
	border-bottom:10px #01447d solid;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}
.our-team-main img {
	border-radius:10%;
	margin-bottom:20px;
height: 340px;
}
.our-team-main h3 {
	color: #01447d;
	font-size:21px;
	font-weight:700;
}
.our-team-main .team-front p {
	color: #01447d;
	height: 50px;
}
.team-back h3, .team-back p {
	color: #01447d;
text-align: center;
	margin: 0;
}
.team-back {
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	
}
.team-front {
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:25px;
	bottom:0px;
	transition: all 2s ease;
}
.our-team-main:hover .team-front {
	bottom:-600px;
	transition: all 1s ease;
}
.our-team-main:hover {
	border-color:#777;
	transition: 1s;
}
.team-back hr {
margin: 3px;
}
.tappro {
display: none;
height: unset !important;
border: 1px solid #01447d;
border-radius: 5%;
color: #fff !important;
background-color: #01447d;
}
@media (max-width: 575px){
	.team-back span {font-size: 13px;}
}
@media (max-width: 992px){
	.tappro {display: block}
}
/*Team*/

#services {
  background: #000;
  padding: 80px 0;
  color: #fff;
}
#services .section-title {
	color:#fff;
}
#services .service-item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 350px;
  width: 100%;
  display: table;
  overflow: hidden;
  margin-bottom: 30px;
}

#services .service-item .details {
  height: 260px;
  background: #000;
  color:#fff;
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
}

#services .service-item .details h4 {
  font-size: 16px;
  transition: transform 0.3s, opacity 0.3s;
  transform: translate3d(0, -15px, 0);
  font-weight: 700;
  color: #fff;
}

#services .service-item .details span {
  display: block;
  color: #fff;
  font-size: 13px;
  transition: transform 0.3s, opacity 0.3s;
  transform: translate3d(0, 15px, 0);
}

#services .service-item:hover .details {
  opacity: 0.8;
}

#services .service-item:hover .details h4 {
  transform: translate3d(0, 0, 0);
}

#services .service-item:hover .details span {
  transform: translate3d(0, 0, 0);
}

/* MAP */
section#loc_map {
    padding-bottom: 60px;
}
.cnt-lnk a:hover, .cnt-lnk a:active, .cnt-lnk a:focus {
	color:#000000;
}
/* MAP */



/*N*/

.social-drop-btn {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFF 0%, #D8DFE9 100%);
background-image: radial-gradient(circle farthest-corner at center top, #FFF 0%, #D8DFE9 100%);
overflow: hidden;
padding: 60px 0;
}

@font-face {
font-family: icon;
src: url('https://bennettfeely.com/fonts/icons.woff');
}

@include flip-cover("dribbble", "d", #FC1786);
@include flip-cover("twiter", "t", #2EC8FA);
@include flip-cover("linkedin", "in", #2672ae);
@include flip-cover("email", "g", #f80);